body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F7F2E7;
}

h1, h2 {
    color: #30475E
}

.evenrow {
    background-color:gainsboro;
}

h1 {
    font-size: 2em ;
}

h2 {
    font-size: 1.5em ;
}

P {
    color: #000000
}

a:link {color: #30475e}
a:visited {color: #87431D}

nav a {color: #290001}
nav a:hover {background-color: #D8D3CD;}

nav {
    padding:10px;
    margin-bottom: 30px;
}

.tagline {
    float:right
}

.ZXimage {
    float: left;
    margin-right: 40px
}

.clear {
    clear:both
}

.address {
    float:left;
    margin-right:5em
}

.address-email-linked {margin:2em; background-color: #ffffff; border-radius: 1em;}
.address {margin:1em}
.email-linkedd {margin:1em}


.map-form {display:flex; margin: 1em; background-color: #ffffff;border-radius: 1em; font-size: 1.5em; flex-wrap: wrap;}
.map {flex:2;order:2;margin:2em;}
.form {flex:1;order:1;margin: 5em;}

.ZXimage {max-width: 100%;}

@media only screen and (max-width:600px){
    nav a {display:flex;padding:5px}
    nav span {display:none;}
}

#skip-to-content {
    position: absolute; 
    left: -999px;  
    background-color: white;
    border: 1px solid gray;
    }
#skip-to-content:focus {position: absolute; left: 10px;}
